@import "../../assets/styles/colors.scss";
.section {
  -webkit-flex-grow: 0;
flex-grow: 0;
-webkit-flex-shrink: 0;
flex-shrink: 0;
background-color: #fff;
border: 1px solid #e3e3e3;
box-shadow: 0 5px 30px 0 #000;
display: block;
float: none;
margin: auto;
max-width: 45rem;
min-height: 30rem;
min-width: 0;
padding: 40px 80px 50px;
position: relative;
width: 100%;
z-index: 1;
}
.login-page__wrapper {

}
