{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@Components": "./src/components",
          "@Assets": "./src/assets"
        }
      }
    ]
  ]
}
