// UI-atoms

$buttonPrimary: #eb5202;
$buttonBorderPrimary: #eb5202;
$buttonTextShadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
$buttonBorderPrimaryHover: #b84002;
$buttonPrimaryHover: #ba4000;
$buttonTextShadowHover: 0 0 0 1px #007bdb;
// layout
$backgroundPrimary: #41362f;
