.toggle {
  line-height: 3.2rem;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  &__input {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    margin-top: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  &__input:checked + &__label::before {
   
    left: 15px;
  }
  &__input:checked + &__label::after {
  

    background: #79a22e;
  }
  &__label {
    cursor: pointer;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    position: relative;
    user-select: none;
    vertical-align: middle;
    &::after,
    &::before {
      left: 0;
      position: absolute;
      right: auto;
      top: 0;
    }
    &::after {
      background: #e3e3e3;
      border: 1px solid #aaa6a0;
      border-radius: 12px;
      content: "";
      display: block;
      height: 22px;
      transition: background 0.2s ease-in 0s;
      width: 37px;
      z-index: 0;
    }
    &::before {
      background: #fff;
      border: 1px solid #aaa6a0;
      border-radius: 100%;
      content: "";
      display: block;
      height: 22px;
      transition: left 0.2s ease-in 0s;
      width: 22px;
      box-sizing: border-box;
      z-index: 1;
    }
  }
}
