/**
* Open Sans
*
*/
@font-face {
  font-family: "SansExtraBold";
  src: local("SansExtraBold"), url("../fonts/Open-Sans/ExtraBold.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "SansBold";
  src: local("SansBold"), url("../fonts/Open-Sans/Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "SansSemiBold";
  src: local("SansSemiBold"), url("../fonts/Open-Sans/SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "SansMedium";
  src: local("SansMedium"), url("../fonts/Open-Sans/Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "SansRegular";
  src: local("SansRegular"), url("../fonts/Open-Sans/Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "SansLight";
  src: local("SansLight"), url("../fonts/Open-Sans/Light.ttf") format("truetype");
  font-weight: 300;
}
