.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.2rem;
  padding: 1.5rem 3rem;
}
.actionsWrapper {
  > div {
    float: left;
    height: 3.3rem;
    padding: 0.75rem 2rem 0.65rem;
  }
}
